@model Drug
@{
    ViewData["Title"] = "CreateDrug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='container mt-4'>

    <form asp-action="CreateDrug" asp-controller="registrator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class='form-group'>
            <label asp-for='Name'>Название</label>
            <input asp-for='Name' class='form-control' type='text' placeholder='Название лекарства...' />
        </div>
        <div class='form-group'>
            <label asp-for='Description'>Описание лекарства</label>
            <textarea asp-for='Description' class='form-control' type='text' placeholder='Описание...' rows='4'></textarea>
        </div>
        <button class='btn btn-primary' type='submit'>Сохранить</button>
    </form>

</div>
