@model Drug
@{
    ViewData["Title"] = "Справочник лекарств";
}
<div class='container mt-4'>

    <form asp-action="CreateDrug">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class='form-group'>
            <label asp-for='Name'>Название</label>
            <input asp-for='Name' class='form-control' type='text' placeholder='Название лекарства...' />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class='form-group'>
            <label asp-for='Description'>Описание лекарства</label>
            <textarea asp-for='Description' class='form-control' type='text' placeholder='Описание...' rows='4'></textarea>
            <span asp-validation-for='Description' class='text-danger'></span>
        </div>
        <button class='btn btn-primary' type='submit'>Сохранить</button>
    </form>

</div>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial")
}
