@{ 
    ViewData["Title"] = "Карточка пациента"; 
    }
<div class='row mt-4 ml-1'>
    <div class='col-lg-3'>

        <div class ='card mb-2 personal-data'>
            <div class = 'card-header'>
               <h5 class='card-title text-center'>Персональные данные</h4>
            </div>
            <div class = 'card-body'>

                <div class ='row'>
                    <div class = 'col'>Дата рождения</div>
                    <div class = 'col'>20.11.1990</div>
                    <div class="w-100"></div>
                    <div class = 'col'>Пол</div>
                    <div class = 'col'>Муж</div>
                    <div class="w-100"></div>
                    <div class = 'col'>Адрес</div>
                    <div class = 'col'>ул.Пролетарская</div>
                    <div class="w-100"></div>
                    <div class = 'col'>Участок</div>
                    <div class = 'col'></div>
                    @if(ViewData["ParentController"] == "Registrator") {
                    <div class ='w-100'></div>
                    <div class = 'col mt-1 text-right'> 
                        @Html.ActionLink("Редактировать","","")
                    </div>
                    }
                </div>
                
            </div>
        </div>


        <div class='filter card p-3'>
            <form>
                <div class='form-group'>
                    <label for='speciality'>Специальность врача</label>
                    <select class='form-control form-control-sm' name='speciality'>
                        <option>Окулист</option>
                        <option>Дерматолог</option>
                        <option>Невролог</option>
                        <option>Хирург</option>
                        <option>Терапевт</option>
                    </select>
                </div>
                <div class='form-group'>
                    <label for='datePicker'>Дата</label>
                    <input type='text' id = 'datePicker' name='datePicker' class='form-control form-contrl-sm'>
                </div>
                <div class='text-center mt-4'>
                    <button type="submit" class="btn btn-primary">Применить фильтр</button>
                </div>
            </form>
        </div>
    </div>

    <div class='col'>

        <table  id = 'checkUpList' class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">Специальность</th>
                    <th scope="col">ФИО</th>
                </tr>
            </thead>
            <tbody>
                <tr data-toggle = 'collapse' data-target = '#checkUpList tbody tr:nth-of-type(2) .collapse'>
                    <td class = 'date'>19.11.2017</td>
                    <td class = 'time'>15:30</td>
                    <td class = 'speciality'>Хирург</td>
                    <td class = 'name'>Иванов Иван Петрович</td>
                </tr>
                <tr class = 'record-inf'>
                    <td class = 'pt-0 pb-0' colspan="4">
                        <div class = 'collapse text-left pl-4 pr-4'>

                            <div class = 'pt-4'></div>

                            <h4 class="card-title diagnosis-title">Диагноз</h4>
                            <p class="card-text diagnosis">Перелом руки</p>
                            <h4 class="card-title recomend-title">Рекомендации</h4>
                            <p class="card-text recomend">Употребление кальция</p>

                            <div class = 'pt-4'></div>

                        </div>
                    </td>
                </tr>
                <tr data-toggle = 'collapse' data-target = '#checkUpList tbody tr:nth-of-type(4) .collapse'>
                    <td class = 'date'>19.11.2017</td>
                    <td class = 'time'>15:30</td>
                    <td class = 'speciality'>Хирург</td>
                    <td class = 'name'>Иванов Иван Петрович</td>
                </tr>
                <tr class = 'record-inf'>
                    <td class = 'pt-0 pb-0' colspan="4">
                        <div class = 'collapse text-left pl-4 pr-4'>

                            <div class = 'pt-4'></div>

                            <h4 class="card-title diagnosis-title">Диагноз</h4>
                            <p class="card-text diagnosis">Перелом руки</p>
                            <h4 class="card-title recomend-title">Рекомендации</h4>
                            <p class="card-text recomend">Употребление кальция</p>

                            <div class = 'pt-4'></div>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel='stylesheet' href='~/css/Shared/PatientCard/main.css' asp-append-version='true' /> 
}

@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Shared/PatientCard/main.js' asp-append-version='true'></script>
}