@{
    ViewData["Title"] = "Результаты приема";      
}
@model DoctorVisit

<div class = 'container mt-4'>
    <form asp-action="WriteCheckUpInfo">

        <input name="RecordId" hidden />

        <div class='form-group'>
            <label asp-for="Diagnosis">Диагноз</label>
            <textarea class="form-control" asp-for="Diagnosis" rows="4"></textarea>
            <span asp-validation-for="Diagnosis" class="text-danger"></span>

            <br />

            <label asp-for="Medicines">Рекомендации</label>
            <textarea class="form-control" asp-for="Medicines" rows="4"></textarea>
            <span asp-validation-for="Medicines" class="text-danger"></span>
        </div>

        <div class="form-check m-4 font-weight-bold">
                <label><input type="checkbox" class="form-check-input" name="NonAppeared" value = 'false'>Не явился</label>
        </div>

        <button class = 'btn btn-primary' type = 'submit'>Сохранить</button>
    </form>
</div>

@section Styles {

}

@section Scripts {
   @Html.Partial("_ValidationScriptsPartial")
}