@model Patient
@{
    ViewData["Title"] = "CreatePatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='container mt-4'>
    <form asp-action="CreatePatient" asp-controller="registrator">
        <div class='form-group'>
            <div class='form-row'>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class='col-sm-4'>
                    <label asp-for='Name'>Имя</label>
                    <input asp-for='Name' class="form-control" placeholder='Имя' />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class='col-sm-4'>
                    <label asp-for='Surname'>Фамилия</label>
                    <input asp-for='Surname' class="form-control" placeholder='Фамилия' />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class='col-sm-4'>
                    <label asp-for='Lastname'>Отчество</label>
                    <input asp-for='Lastname' class="form-control" placeholder='Отчество' />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class='form-group text-center'>
            <div class='form-row'>
                <div class='col-sm  sex-picker'>
                    <label asp-for='Sex'>Пол</label>
                    <select asp-for="Sex" class="form-control">
                        <option value="true">M</option>
                        <option value="false">Ж</option>
                    </select>
                    <input asp-for="Sex" type="hidden" />
                </div>
                <div class='col-sm'>
                    <div class='form-group'>
                        <label asp-for="BirthDate">Дата рождения</label>
                        <input asp-for="BirthDate" class='form-control' type='date'>
                    </div>
                </div>
            </div>
        </div>

        <div class='form-group'>
            <label asp-for="Street">Адрес</label>
            <select class="form-control" asp-for="StreetId">
                @foreach (Street Street in ViewBag.Streets)
                {

                    <option value="@Street.Id">@Street.Name</option>

                }
            </select>

        </div>
       
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>
                Сохранить
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Registrator/CreatePatient/main.js' asp-append-version='true'></script>
}
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel='stylesheet' href='~/css/Registrator/CreatePatient/main.css' asp-append-version='true' />
}