@model Speciality

@{
    ViewData["Title"] = "CreateSpeciality";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class='container mt-4'>

    <form asp-action="CreateSpeciality" asp-controller="registrator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class='form-group'>
            <label asp-for='Name'>Название специальности</label>
            <input asp-for='Name' class="form-control" placeholder='Название специальности...' />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class='form-row'>
            <div class='form-group col-sm-3'>
                <label asp-for='CheckUpTime'>Длительность приема</label>
                <input asp-for='CheckUpTime' type='number' class="form-control" placeholder='Длительность приема...' />
                <span asp-validation-for="CheckUpTime" class="text-danger"></span>
            </div>
        </div>
        <button class='btn btn-primary' type='submit'>Сохранить</button>
    </form>

</div>