<div class = 'container mt-4'>
    <form>
        <div class = 'form-group'>
            <div class = 'form-row'>
                <div class = 'col-sm-4'>
                    <label for = 'firstname'>Имя</label>
                    <input class ='form-control'type = 'text' name = 'firstname' placeholder='Имя'>
                </div>
                <div class = 'col-sm-4'>
                    <label for = 'firstname'>Фамилия</label>
                    <input class ='form-control'type = 'text' name = 'surname' placeholder='Фамилия'>
                </div>
                <div class = 'col-sm-4'>
                    <label for = 'firstname'>Отчество</label>
                    <input class ='form-control'type = 'text' name = 'lastname' placeholder='Отчество'>
                </div>
            </div>  
        </div>
        <div class='form-group'>
            <label for = 'speciality'>Специальность</label>
            <select class='form-control' name='speciality'>
                <option>Окулист</option>
                <option>Дерматолог</option>
                <option>Невролог</option>
                <option>Хирург</option>
                <option>Терапевт</option>
            </select>
        </div>
        <div class='form-group'>
            <label for = 'region'>Участок</label>
            <select class='form-control' name='region'>
                <option>ул.Пролетарская</option>
                <option>Дерматолог</option>
                <option>Невролог</option>
                <option>Хирург</option>
                <option>Терапевт</option>
            </select>
        </div>

        <div class = 'form-group'>
            <button class ='btn btn-primary' type = 'submit'>
                Сохранить
            </button>
        </div>

    </form>
</div>