@model Doctor

@{
    ViewData["Title"] = "CreateDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class='container mt-4'>
    <form asp-action="CreateDoctor" asp-controller="registrator">
        <div class='form-group'>
            <div class='form-row'>
                <div class='col-sm-4'>
                    <label asp-for="Name">Имя</label>
                    <input asp-for='Name' class="form-control" placeholder='Имя' />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class='col-sm-4'>
                    <label asp-for="Surname">Фамилия</label>
                    <input asp-for='Surname' class="form-control" placeholder='Фамилия' />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class='col-sm-4'>
                    <label asp-for="Lastname">Отчество</label>
                    <input asp-for='Lastname' class="form-control" placeholder='Отчество' />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class='form-row'>
            <div class='col-sm-4'>
                <label asp-for='ChainedCabinet'>Номер кабинета</label>
                <input asp-for='ChainedCabinet' class="form-control" placeholder='Номер' />
                <span asp-validation-for="ChainedCabinet"></span>

            </div>
            <div class='col-sm-8'>

                <label asp-for='SpecialityId'>Специальность</label>
                <select asp-for='SpecialityId' class = "form-control">
                    @foreach (var Speciality in ViewBag.Specialities)
                    {
                        <option value ="@Speciality.Id">@Speciality.Name</option>
                        
                    }
               </select>
            </div>
        </div>
        <div class='form-group'>
            <label asp-for='RegionId'>Номер участка</label>
            <select asp-for='RegionId' class="form-control">
                @foreach (var Region in ViewBag.Regions)
                {
                    <option value="@Region.Id">@Region.Id</option>

                }
            </select>
        </div>

        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>
                Сохранить
            </button>
        </div>

    </form>
</div>