@{
}
<div class='container mt-4'>
    <form method="post">
        <div class='form-group form-row'>
            <div class='col-md'>
                <label for='street'>Улица</label>
                <input class='streetInput form-control' name='street' type='text' placeholder='Введите улицу...' />
            </div>
            <div class='col-md'>
                <label for='street'>Номера через запятую</label>
                <input class='streetNumber form-control' name='streetNumber' type='text' placeholder='Введите номера...' />
            </div>
        </div>
        <button class='btn btn-primary' type='submit'>Сохранить</button>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvWQAIEkFj89pU7bRqI4g8n0W9NFI_Uuk&libraries=places"></script>
    <script type="text/javascript" src="~/js/Registrator/CreateRegion/main.js"></script>
}