@{
    ViewData["Title"] = "Врачи";
}

<div class = 'row mt-4 ml-1'>
    
    <div class = 'col-3'>

        <div class='card p-3'>
            <form>
                <div class='form-group'>
                    <label for='speciality'>Специальность врача</label>
                    <select class='form-control form-control-sm' name='speciality'>
                        <option>Окулист</option>
                        <option>Дерматолог</option>
                        <option>Невролог</option>
                        <option>Хирург</option>
                        <option>Терапевт</option>
                    </select>
                </div>
                <input type='text' name='datePi' class='form-control form-contrl-sm'>
                <div class='text-center mt-4'>
                    <button type="submit" class="btn btn-primary">Применить фильтр</button>
                </div>
            </form>
        </div>

    </div>

    <div class = 'col-9'>

    </div>

</div>