<div class='mt-4'>
    <div class='row'>
        <div class='col-md-3 mb-2 text-center'>
            <a class='btn btn-light' href = '/Registrator/CreatePatient'>Добавить нового пациента</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'>
            <div class='card p-3 mb-2'>
                <form>
                    <div class='form-group'>
                        <label for='birthdate'>Дата рождения</label>
                        <input class = 'form-control'type = 'text' id='birthdate' name = 'birthdate'>
                    </div>
                    <div class = 'form-group'>
                        <label for='region'>Участок</label>
                        <select class='form-control form-control-sm' name='region'>
                            <option>ул.Осенняя</option>
                            <option>Дерматолог</option>
                            <option>Невролог</option>
                            <option>Хирург</option>
                            <option>Терапевт</option>
                        </select>
                    </div>
                    <div class='form-group text-center'>
                        <button type="submit" class="btn btn-primary">Показать</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-md-9'>
            <form>
                <div class='form-row'>
                    <div class='col-10'>
                        <input class='form-control' type='search' placeholder='Введите ФИО...'>
                    </div>
                    <div class='col-2'>
                        <button class='btn btn-primary w-100' type='submit'>Показать</button>
                    </div>
                </div>
            </form>
            <div class='row'>
                <div class='col-md-4'>

                    <div class ='card mt-2 patient-data'>
                        <div class = 'card-header'>
                            <h5 class='card-title text-center'>Иванов И.А.</h4>
                        </div>
                        <div class = 'card-body'>
                            <div class ='row'>
                                <div class = 'col-sm'>Дата рождения</div>
                                <div class = 'col-sm'>20.11.1990</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Пол</div>
                                <div class = 'col-sm'>Муж</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Адрес</div>
                                <div class = 'col-sm'>ул.Пролетарская</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Участок</div>
                                <div class = 'col-sm'></div>
                                <div class ='w-100'></div>
                                <div class= 'col-sm text-center'>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Перейти к карточке</a>
                                </div>
                                 <div class= 'col-sm text-center'>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Записать на прием</a>
                                </div>
                                <div class = 'col-sm mt-1 text-right'> 
                                    @Html.ActionLink("Редактировать","","")
                                </div>

                            </div>
                            
                        </div>
                    </div>

                </div>

                <div class='col-md-4'>

                   <div class ='card mt-2 patient-data'>
                        <div class = 'card-header'>
                            <h5 class='card-title text-center'>Иванов И.А.</h4>
                        </div>
                        <div class = 'card-body'>
                            <div class ='row'>
                                <div class = 'col-sm'>Дата рождения</div>
                                <div class = 'col-sm'>20.11.1990</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Пол</div>
                                <div class = 'col-sm'>Муж</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Адрес</div>
                                <div class = 'col-sm'>ул.Пролетарская</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Участок</div>
                                <div class = 'col-sm'></div>
                                <div class ='w-100'></div>
                                <div class= 'col-sm text-center'>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Перейти к карточке</a>
                                </div>
                                <div class= 'col-sm text-center'>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Записать на прием</a>
                                </div>
                                <div class = 'col-sm mt-1 text-right'> 
                                    @Html.ActionLink("Редактировать","","")
                                </div>

                            </div>
                            
                        </div>
                    </div>

                </div>

                
                <div class='col-md-4'>

                     <div class ='card mt-2 patient-data'>
                        <div class = 'card-header'>
                            <h5 class='card-title text-center'>Иванов И.А.</h4>
                        </div>
                        <div class = 'card-body'>
                            <div class ='row'>
                                <div class = 'col-sm'>Дата рождения</div>
                                <div class = 'col-sm'>20.11.1990</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Пол</div>
                                <div class = 'col-sm'>Муж</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Адрес</div>
                                <div class = 'col-sm'>ул.Пролетарская</div>
                                <div class="w-100"></div>
                                <div class = 'col-sm'>Участок</div>
                                <div class = 'col-sm'></div>
                                <div class ='w-100'></div>
                                <div class= 'col-sm text-center '>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Перейти к карточке</a>
                                </div>
                                 <div class= 'col-sm text-center'>
                                    <a href = '/Registrator/PatientCard' class = 'btn btn-light'>Записать на прием</a>
                                </div>
                                <div class = 'col-sm mt-1 text-right'> 
                                    @Html.ActionLink("Редактировать","","")
                                </div>

                            </div>
                            
                        </div>
                    </div>

                </div>




                </div>

            </div>

        </div>
    </div>

</div>
@section Scripts {
    <script src='~/lib/moment/min/moment-with-locales.min.js' asp-append-version='true'></script>
    <script src='~/lib/datetimepicker/js/daterangepicker.js' asp-append-version='true'></script>
    <script src='~/js/Registrator/SearchPatient/main.js' asp-append-version='true'></script>
}
@section Styles {
    <link rel='stylesheet' href='~/lib/datetimepicker/css/daterangepicker.css' asp-append-version='true' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' asp-append-version='true' />
    <link rel = 'stylesheet' href = '~/css/Registrator/SearchPatient/main.css' asp-append-version='true' />
}
