@model IEnumerable<Speciality>

<div class = 'container mt-4'>
    
    <div class='mb-2'>
        <a asp-controller="registrator" asp-action="CreateSpeciality">Добавить</a>
    </div>

    <form asp-controller="Registrator" asp-action="Specialities" class = 'mb-2'>
        <div class='form-row'>
            <div class='col'>
                <input name ="q" class='form-control' type='search' placeholder='Введите название...'>
            </div>
            <div class='col-sm-2'>
                <button class='btn btn-primary w-100' type='submit'>Показать</button>
            </div>
        </div>
    </form>

    <table class = 'table text-center'>
        
        <thead>
            <th>Название</th>
            <th>Длительность одного приема(минуты)</th>
            <th></th>
        </thead>

        <tbody>

            @foreach (var item in Model){
                    <tr class="data-group">
            
                        <td>
                            <input name = 'Name' class="form-control-plaintext" value="@Html.DisplayFor(modelItem => item.Name)" readonly />
                        </td>
                        <td>
                            <input name = 'CheckUpTime' type='number' class="form-control-plaintext" value="@Html.DisplayFor(modelItem => item.CheckUpTime)" readonly  />
                        </td>
                        <td>
                            <a asp-action="DeleteSpeciality" asp-route-id="@item.Id">Удалить</a> | 
                            <a class='clickShowHideNext' href="javascript:1;">Изменить</a> | 
                            <a class = 'sendWithAddition hide' data-to-add = '["Name","CheckUpTime"]' asp-action="EditSpeciality" asp-route-id="@item.Id">Сохранить</a>

                        </td>
                    </tr>
            }


        </tbody>

    </table>

</div>

@section Scripts{
    <script type="text/javascript" src="~/js/Registrator/Specialities/main.js" asp-append-version='true'></script>

}

@section Styles {
    <link rel="stylesheet" href="~/css/Registrator/Specialities/main.css" asp-append-version='true' />
}