<nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class = "navbar-brand" href = '/Doctor'>Doctor</a>

        <div class="navbar-collapse collapse" id = "navbarToggler">
                
        </div>

    </nav> 