#RegionsList .new-region{
    border-top: 2px solid rgb(146, 147, 148);
}
.hide {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.show {
    opacity: 1;
}


@media (max-width:750px){

    #RegionsList .btn, #RegionsList .form-control {
        font-size: inherit;
    }

    #RegionsList .btn{
        vertical-align:unset;
    }

    #RegionsList{
        font-size:14px;
    }
    #RegionsList th,#RegionsList td {
        padding: .1rem; 
    }
}


@media (max-width:500px) {
    #RegionsList {
        font-size: 11px;
    }
}


@media (max-width:420px) {
    #RegionsList {
        font-size: 9px;
    }
    #RegionsList th, #RegionsList td {
         padding: 0;
    }
}


@media (max-width:320px) {
    #RegionsList {
        font-size: 7.5px;
    }
   
}