.hide {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.show {
    opacity: 1;
}

.edit-buttons {
    float: right;
}

input {
    background-color: transparent;
    border: solid transparent;
    border: 0px;
}

.disease-header {
    font-size: 1.2em;
    color: #007bff;
}

.disease-info button {
    padding: 0;
    vertical-align:unset;
}


@media (max-width:450px){
    #diseasesList .btn, #diseasesList .form-control {
        font-size: inherit;
    }
    #diseasesList {
        font-size: 10px;
    }
}